@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


//Colors
//MAIN COLORS
$deep-green: #1a3636;
$forest-green: #119b1e;
$moss-green: #677D6a;
$light-green: #d8eadb;
$kaki: #d6bd98;
$dark-grey: #707070;

//Category colors
$plastic: #660099;
$paper: #017Ec0;
$nature: #06682d;
$glass: #28A745;
$cardboard: #c4a167;
$electronics: #f18700;
$wood: #7f652b;
$textiles: #951C3F;
$flammable: #6666cc;
$deponi: #2b2c2e;


//Fonts
$font-main: 'Open-sans', sans-serif;
$font-inter: 'Inter', sans-serif;