@use "../../styles/variables" as *;

.wrapper {
    padding: 70px 40px;

    .text {
        margin-bottom: 60px;

        h1 {
            font-size: 36px;
        }

        h3 {
            font-size: 28px;
            color: $forest-green;
        }
    }


}